*{
  margin: 0;
  padding: 0;
}
/* Shared styles  */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.font-color{
  color: #001931;
}

/* Main styles  */
nav{
  display: flex;
  padding: 16px 120px;
  justify-content: space-between;
  background-color: #FFFFFF;
  align-items: center;
}
nav li{
  list-style: none;
}
nav li a{
  text-decoration: none;
}
nav img{
  width: 139px;
}
.nav-links {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 500;
  line-height: 152%;
  display: flex;
  gap: 32px;
}
.btn {
  color:white;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
  background-color: #30B868;
}

/* Banner Contents */
#banner {
  background: url("../assets/hero-bg.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
}
.banner-content{
  max-width: 1360px;
  margin-top: 154px;
  margin-bottom: 180px;
}
.early-para img{
  max-width: 18px;
  display: block;
  margin-right: 8px;
}
.banner-content .early-para{
  display: inline-flex;
  color: #30B868;
  background: white;
  padding: 8px 12px;
  margin-bottom: 24px;
  border-radius: 1000px;
}
.banner-content h1{
  max-width: 770px;
  margin: 0 auto;
  color: white;
  text-align: center;
  font-size: 72px;
}
h1 .h1-green{
  color: #30B868;
}
.banner-content p{
  max-width: 700px;
  margin: 16px auto 32px;
  font-size: 18px;
  font-weight: 400;
  color: white;
}
.buttons{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 16px;
}
.btn2{
  border: 1px solid white;
  border-radius: 4px;
  color: rgba(255, 255, 255, 1);
  background: rgba(255, 255, 255, 0);
  padding: 16px;
}

/* Card section  */
#section-card{
  max-width: 1360px;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}
#section-card .card-heading h2{
  font-size: 48px;
  font-weight: 700;
  text-transform: capitalize;
}
.card-heading p{
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  padding-top: 16px;
}
.card-container {
  padding-top: 44px;
  display: flex;
  margin: 0 120px;
  gap: 16px;
}
 .cards{
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}
.cards:hover {
  transform: translateY(-5px);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.12);
}
.cards .circle{
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: rgba(249, 85, 85, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards h4{
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
  margin: 16px auto;
}
.cards p{
  font-size: 16px;
  font-weight: 400;
  color: #627382;
}

/* Second Brain Section  */
#second-brain{
  margin: 50px;
}
.second-brain-container{
  display: flex;
  align-items: center;
  gap: 60px;
}
.image img{
  width: 600px;
  height: 600px;
}
.image-content{
  justify-content: flex-start;
  align-items: flex-start;
}
.image-content h2{
  max-width: 700px;
  font-size: 48px;
  font-style: Bold;
  font-weight: 700;
  line-height: 58px;
  gap: 16px;
}
.image-content .uppercase{
  text-transform: uppercase;
  color: #30B868;
}
.image-content p{
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  margin: 25px 0;
}
.image-content ul li{
  margin-bottom: 15px;
}
#second-brain ul{
  list-style: none;
  padding-left: 0px;
}
#second-brain li{
  position: relative;
  padding-left: 35px;
  line-height: 24px;
  display: flex;
  align-items: center;
}
#second-brain li::before {
  content: '';
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url('../assets/CheckCircle.png');
  background-size: contain;
  background-repeat: no-repeat;
}

/* Early access section  */
#early-access {
  padding: 0px 120px 120px 120px;
}
#early-access .early-container{
  padding: 80px 40px;
  text-align: center;
  border-radius: 12px;
  background: rgba(247, 246, 242, 1);
}
.early-container h2{
  font-size: 40px;
}
.early-container p{
  color: #627382;
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
}
.early-container button{
  margin-top: 24px;
}

/* Footer section  */
footer{
  margin-top: 120px;
  background-color: rgba(0, 25, 49, 1);
  padding: 120px 120px 30px;
  text-align: center;
}
.footer-container{
  display: flex;
  justify-content: space-between;
}
.footer-container img{
  max-width: 140px;
}
.footer-container .social{
  color: white;
  font-size: 20px;
  padding-right: 107px;
}