*{
  margin: 0;
  padding: 0;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav{
  display: flex;
  padding: 16px 120px;
  justify-content: space-between;
  background-color: #FFFFFF;
  align-items: center;
}
nav li{
  list-style: none;
}
nav li a{
  text-decoration: none;
}
nav img{
  width: 139px;
}
.nav-links {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 500;
  line-height: 152%;
  display: flex;
  gap: 32px;
}
.btn {
  color:white;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
  background-color: #30B868;
}

/* Banner Contents */
#banner {
  background: url("../assets/hero-bg.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
}
.banner-content{
  max-width: 1360px;
  margin-top: 154px;
  margin-bottom: 180px;
}
.early-para img{
  max-width: 18px;
  display: block;
  margin-right: 8px;
}
.banner-content .early-para{
  display: inline-flex;
  color: #30B868;
  background: white;
  padding: 8px 12px;
  margin-bottom: 24px;
  border-radius: 1000px;
}
.banner-content h1{
  max-width: 770px;
  margin: 0 auto;
  color: white;
  text-align: center;
  font-size: 72px;
}
h1 .h1-green{
  color: #30B868;
}
.banner-content p{
  max-width: 700px;
  margin: 16px auto 32px;
  font-size: 18px;
  font-weight: 400;
  color: white;
}
.buttons{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 16px;
}
.btn2{
  border: 1px solid white;
  border-radius: 4px;
  color: rgba(255, 255, 255, 1);
  background: rgba(255, 255, 255, 0);
  padding: 16px;
}